<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hitachi_Energy_2.Properties.Settings.temperatureDBConnectionString"
            connectionString="Data Source=<YOUR-SERVER-NAME>;Initial Catalog=temperatureDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
